.main_repos {
  margin-left: 98px;
}

.repos {
  font-family: "Inter", sans-serif;
  margin-top: 28px;
}

.marker {
  list-style-type: none;
  background-color: white;
  margin-bottom: 24px;
  width: 877px;
  height: 140px;
  border-radius: 6px;
}

.rep_url {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 29px;
}

.pad {
  padding: 24px 18px 36px 18px;
}

.paginationBttns {
  height: 16px;
  list-style: none;
  display: flex;
}

.paginationBttns a {
  padding: 4px;
  margin: 5px;
  border-radius: 5px;
  color: #808080;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0064eb;
}

.paginationActive a {
  color: white;
  background-color: #0064eb;
}

.paginationDisabled a {
  color: #0064eb;
}

.repos_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rep_position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 400px;
}

.rep_empty__text {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #808080;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

.pagination_container {
  display: flex;
  width: 877px;
  margin-top: 20px;
  justify-content: flex-end;
}

.number_page {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  color: #808080;
  font-size: 14px;
  line-height: 21px;
}

.rep_height {
  height: 620px;
}

.rep_descr__pos {
  padding-top: 16px;
}

@media (max-width: 1530px) {
  .marker {
    width: 600px;
    height: 170px;
  }

  .pagination_container {
    width: 600px;
    padding-top: 150px;
  }
  .rep_position {
    margin-left: 100px;
  }
}

@media (max-width: 1220px) {
  .marker {
    width: 400px;
    height: 230px;
  }

  .pagination_container {
    width: 200px;
    margin-top: 220px;
  }

  .main_repos {
    margin-left: 50px;
  }

  .pagination_container {
    display: block;
  }

  .paginationBttns {
    padding-left: 0px;
  }
}

@media (max-width: 950px) {
  .pagin__pos {
    float: left;
  }

  .pagination_container {
    display: block;
  }
}

@media (max-width: 810px) {
  .rep_position {
    left: calc(90% - 98px);
    margin-top: 170px;
  }
}

@media (max-width: 750px) {
  .pagination_container {
    display: block;
  }
}

@media (max-width: 460px) {
  .marker {
    width: 300px;
    height: 270px;
  }

  .rep_position {
    left: calc(80% - 98px);
    margin-top: 170px;
  }

  .pagination_container {
    width: 300px;
  }

  .main_repos {
    margin-left: 0px;
  }

  .pagination_container {
    margin-top: 380px;
  }

  .number_page {
    text-align: center;
  }

  .paginationBttns a {
    margin: 1px;
    padding: 1px;
  }

  .pagination_position {
    padding-right: 0px;
  }

  .paginationBttns {
    padding-left: 0px;
    width: 150px;
  }
}

@media (max-width: 380px) {
  .rep_position {
    left: calc(70% - 98px);
    margin-top: 170px;
  }
}

@media (max-width: 377px) {
  .rep_position {
    margin-left: 50px;
  }
}

@media (max-width: 350px) {
  .main_repos {
    margin-left: 10px;
  }
}
